<!DOCTYPE html>
<html>
<head>
    <title>[% content.PAGE_TITLE %]</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="[% content.PAGE_TITLE %]" />
    <meta name="description" content="[% content.PAGE_DESCRIPTION %]" />        
    <link rel="image_src" href="http://lova.su/img/logo.jpg" />
    
    <script src="/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="/lib/jquery/jquery-migrate-1.2.1.min.js"></script>
        
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <script src="/js/cab.js"></script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41618016-1', 'lova.su');
      ga('send', 'pageview');
    </script>        
    <script>
        var config = {
          maxNumber  : [% data.options.lottery.maxNumber %],
          maxNumbers : [% data.options.lottery.maxNumbers %],
          maxGames   : [% data.options.lottery.maxGames %],
          maxTickets : [% data.options.lottery.maxTickets %],
          gamePrice  : [% data.options.lottery.gamePrice %]
        };
        var session = {
            accPersonal : [% data.account.personal || 0 %], 
            accFond     : [% data.account.fond || 0 %],
            accReferal  : [% data.account.referal || 0 %],
            accWin      : [% data.account.win || 0 %],
            totalSum    : [% data.lottery.session.totalSum || 0 %],
            limit       : [% data.lottery.session.tickets.limit || 0 %]
        };
    </script>            
</head>
<body style="background:url(/img/tile3.jpg)">
    <table class="container">
        <tr><td>
            <table width="100%"><tr><td class="logo"><img alt="LoVa" src="/img/logo.gif"></td>
                       <td align="right" valign="center"><a target="_blank" href="http://lovanews.su/">ИнфоСайт</a> | <a href="mailto:lova@pemes.net">Поддержка</a> | <a href="/files/cmc-lova.xls" class="text-error">СМС LOVA</a> | <a href="/cab/profile/">[% content.PROFILE %]</a> | <a href="/cab/logout/">[% content.LOGOUT %]</a></td></tr>
            </table>           
        </td></tr>
        <tr><td>[% IF !data.profile.validateEmail %]<div id="validateEmail" class="alert alert-error">[% content.ALERT_EMAIL %]</div>[% END %]</td></tr>
        <tr><td class="total_win">Выиграно $[% data.options.lottery.totalWin %]</td></tr>
        <tr><td align="center">[% INCLUDE "../tmpl/lottery.tmpl" %]</td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td>
            <table width="100%">
                <tr>
                    <td width="21%" class="statHeader registered text-center">Основной счет</td>
                    <td width="5%"></td> 
                    <td width="21%" class="statHeader text-center">[% content.ACCOUNT_FOND %]</td>
                    <td width="5%"></td>                    
                    <td width="11%" class="statHeader text-right" style="border-right: 1px solid #ffffff">[% content.ACCOUNT_REFERALS %]</td>
                    <td width="11%" class="statHeader text-right" style="border-left: 1px solid #ffffff">[% content.ACCOUNT_REFERALS_INVITED %]</td>
                    <td width=""></td>                    
                    <td width="185px" class="statHeader registered text-center">Выигрыш</td>
                </tr>
                <tr>
                    <td class="stat" rowspan="1"><h2>$[% data.account.personal || "0.00" %]</h2></td>
                    <td width="5%" rowspan="1"></td>                    
                    <td class="stat" rowspan="1"><h2>$[% data.account.fond || "0.00" %]</h2></td>
                    <td width="5%" rowspan="1"></td>                    
                    <td class="stat"><h3>$[% data.account.referal || "0.00" %]</h3></td>
                    <td class="stat">[% '<a href="#statDiv" data-toggle="modal">' IF data.referals.all %]<h3>[% data.referals.all || "0" %]</h3>[% '</a>' IF data.referals.all %]</td>
                    <td width="" rowspan="1"></td>                    
                    <td class="stat" rowspan="1"><h2>$[% data.account.win || "0.00" %]</h2></td>
                </tr>
                <tr><td class="row-separator"></td></tr>
                <tr>
                    <td align="center"><button class="btn" type="button">Пополнить счет</button></td>                    
                    <td width="5%" rowspan="1"></td>
                    <td align="center">
                      <span class="network-icons">
                        <a rel="nofollow" class="fb" title="[% content.SHARE_HINT_FACEBOOK %]" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=lova.su" onClick='fbShare();return false;' style="margin-left: 0px"></a>
                        <a rel="nofollow" class="vk" title="[% content.SHARE_HINT_VK %]" target="_blank" href="http://vk.com/share.php?url=http%3A%2F%2Flova.su" onmouseup="this._btn=event.button;this.blur();" onclick="return VK.Share.click(0, this);return false;"></a>            
                        <a rel="nofollow" class="mm" title="[% content.SHARE_HINT_MY_MAIL %]" target="_blank" href="http://connect.mail.ru/share" onClick='mmShare(); return false;'></a>
                      </span>
                    </td>
                    <td width="5%" rowspan="1"></td>                    
                    <td  align="center" colspan="2">
                        <button class="btn btn-info" href="#inviteDiv" data-toggle="modal" >Пригласите друга</button>
                    </td>
                    <td width="" rowspan="1"></td>                    
                    <td align="center"><button class="btn btn-success">Выплата</button></td>
                </tr>
                <tr><td class="row-separator"></td></tr>
                <tr><td></td><td></td><td></td>
                    <td colspan="4" align="center"></td>
                    <td></td>
                </tr>
            </table>
        </td></tr>        
        <tr><td class="row-separator"></td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td class="row-separator"></td></tr>
        <tr><td>[% content.FOOTER %]</td></tr>
		</table>
		
    <div id="inviteDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="inviteLabel" aria-hidden="true">
      <form id="inviteForm" data-async class="form-horizontal" method="POST" action="/cab/invite/">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="restoreLabel">[% content.INVITE_LABEL %]</h3>
      </div>
      <div class="modal-body">
          [% IF !data.user.getLastName() %]
          <div class="alert alert-error">[% content.INVITE_ALERT_PROFILE %]</div>
          [% END %]
          <div class="alert alert-error hide">[% content.INVITE_ALERT_FIELDS_REQUIRED %]</div>
          <div class="alert alert-success hide">[% content.INVITE_ALERT_SEND %]</div>
          <div class="control-group">
            <label class="control-label" for="first_name">[% content.INVITE_FRIEND_NAME %]</label>
            <div class="controls">
                <input type="text" name="first_name" required>
                <span class="help-inline"></span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">[% content.INVITE_FRIEND_EMAIL %]</label>
            <div class="controls">
                <input type="email" name="email" required>
                <span class="help-inline"></span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">[% content.INVITE_BUTTON_CLOSE %]</button>
        [% IF data.user.getLastName() %]
        <button name="invite" type="submit" class="btn btn-primary">[% content.INVITE_BUTTON_SEND %]</button>
        [% END %]
      </div>
      </form>
    </div>

    [% IF data.referals.all %]
    <div id="statDiv" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="statLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="statLabel">Информация рекламного агента</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-error hide"></div>
        <div class="row">
            <div class="span3">Активных приглашенных</div>
            <div class="span2 text-left text-success">[% data.referals.active || "0" %]</div>
        </div>    
        <div class="row">
            <div class="span3">Всего приглашено</div>
            <div class="span2 text-left muted">[% data.referals.all || "0" %]</div>
        </div>
        [%#    
        <div class="row">
            <div class="span3">Прибыль от приглашенных</div>
            <div class="span2 text-left text-success">$0.00</div>
        </div>    
        <div class="row">
            <div class="span3">Ваш рекламный рейтинг</div>
            <div class="span2 text-left"># 123 456</div>
        </div>
        %]    
      </div>
      <div class="modal-footer">
        <a target="_blank" href="/cab/reports/referal/" class="btn btn-primary">Подробный отчет</a>
        <button class="btn" type="button" data-dismiss="modal" aria-hidden="true">Закрыть</button>
      </div>
    </div>
    [% END %]

	<div id="mobile-dialog" title="СМС LOVA">
		<div id="sms-tabs">
			<ul>
				<li><a href="#sms-tabs-1">Киевстар</a></li>
				<li><a href="#sms-tabs-2">Life</a></li>
				<li><a href="#sms-tabs-3">МТС</a></li>
			</ul>
			<div id="sms-tabs-1" class="operator kyivstar">
				<div class="about">
					<div class="logo a-left"><img src="" alt=""/></div>
					<div class="slogon a-left"></div>
					<div class="clear"></div>
				</div>
				<div class="table-layout">
					<table class="tariffs text-black">
						<tbody>
							<!-- Простой -->
							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">Для звонков на все сети, тариф  «Простой»</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">№</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="t-center">«Простой»</td>
							</tr>
							<tr>
								<td rowspan="10" class="skyblue text-white t-center properties">1</td>
								<td rowspan="4" class="darkblue t-center properties text-white">Приемущества:</td>
								<td colspan="2" class="t-center">Звонки между участниками в пределах "СМС LOVA (Киевстар)" — 5 коп./мин</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Единый тариф на все сети по Украине — 25 коп. за минуту</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Отсутствие платы за соединение</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Посекундная тарификация</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="skyblue">Звонки между участниками в пределах "СМС LOVA (Киевстар)", грн/мин</td>
								<td class="skyblue">0,05</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера сетей «Киевстар» и «Голден Телеком», грн/мин</td>
								<td class="skyblue">0,25</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера других сетей мобильной и фиксированной связи Украины, грн/мин</td>
								<td class="skyblue">0,25</td>
							</tr>
							<tr>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">отсутствует</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">10,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>

							<!-- Простой LOVA -->
							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">Для звонков на все сети, тариф  «Простой LOVA»</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">№</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="t-center">«Простой LOVA»</td>
							</tr>
							<tr>
								<td rowspan="10" class="skyblue text-white t-center properties">2</td>
								<td rowspan="4" class="darkblue t-center properties text-white">Приемущества:</td>
								<td colspan="2" class="t-center">Звонки между участниками в пределах "СМС LOVA (Киевстар)" — без ограничений</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Звонки по Украине — 25 коп. за минуту</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Отсутствие платы за соединение</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Посекундная тарификация</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="skyblue">Звонки между участниками в пределах "СМС LOVA (Киевстар)", грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Пакет минут на номера Киевстар, Билайн и Голден Телеком</td>
								<td class="skyblue">500</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера Киевстар* и других сетей мобильной и фиксированной связи Украины, грн/мин</td>
								<td class="skyblue">0,25</td>
							</tr>
							<tr>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">отсутствует</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">25,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>

							<!-- Бизнес -->
							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">Для звонков преимущественно на Киевстар</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">№</td>
								<td rowspan="4" class="darkblue t-center properties text-white">Приемущества:</td>
								<td colspan="2" class="t-center">0 грн — на звонки в сети «Киевстар» без ограничений</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Без платы за соединение  ! Посекундная тарификация</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Возможность пользоваться услугами связи «в кредит»</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные услуги и сервисы</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>

							<!-- «Бизнес 20» -->
							<tr>
								<td rowspan="9" class="skyblue text-white t-center properties">3</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="skyblue t-center">«Бизнес 20»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="skyblue">Звонки между участниками в пределах  "СМС LOVA (Киевстар)", грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера «Киевстар» и «Голден Телеком», мин</td>
								<td class="skyblue">300</td>
							</tr>
							</tr>
							<tr>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">отсутствует</td>
							</tr>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="skyblue t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="skyblue">Звонки на номера сетей «Киевстар», «Голден телеком» и Beeline, грн/мин**</td>
								<td class="skyblue">0,25</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки между участниками в пределах  "СМС LOVA (Киевстар)", грн/мин**.</td>
								<td class="skyblue">0,25</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера других сетей мобильной и фиксированной связи Украины, грн/мин**.</td>
								<td class="skyblue">1,20</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">20,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>				

							<!-- «Бизнес 40 Новый» -->

							<tr>
								<td rowspan="9" class="skyblue text-white t-center properties">4</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="cyan t-center">«Бизнес 40 Новый»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="cyan">Звонки на номера «Киевстар» и «Голден Телеком», мин</td>
								<td class="cyan">без ограничений</td>
							</tr>
							<tr>
								<td class="cyan">Традиционный доступ к Интернету, МБ</td>
								<td class="cyan">100</td>
							</tr>
							</tr>
							<tr>
								<td class="cyan">Плата за соединение, грн</td>
								<td class="cyan">отсутствует</td>
							</tr>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="cyan t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="cyan">Звонки на номера других сетей мобильной связи Украины, грн/мин</td>
								<td class="cyan">0,50</td>
							</tr>
							<tr>
								<td class="cyan">Звонки на номера сетей фиксированной связи Украины, грн/мин</td>
								<td class="cyan">1,20</td>
							</tr>
							<tr>
								<td class="cyan">SMS-сообщение в пределах Украины, грн</td>
								<td class="cyan">0,50</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="cyan">Абонентская плата, грн</td>
								<td class="cyan">40,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>				

							<!-- «Бизнес 60 Новый» -->

							<tr>
								<td rowspan="10" class="skyblue text-white t-center properties">5</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="skyblue t-center">«Бизнес 60 Новый»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="skyblue">Звонки на номера «Киевстар» и «Голден Телеком», мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Традиционный доступ к Интернету, МБ</td>
								<td class="skyblue">200</td>
							</tr>
							</tr>
							<tr>
								<td class="skyblue">Количество минут для звонков на номера других операторов мобильной и фиксированной связи Украины, мин.</td>
								<td class="skyblue">50</td>
							</tr>
							<tr>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">отсутствует</td>
							</tr>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="skyblue t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="skyblue">Звонки на номера других сетей мобильной связи Украины, грн/мин</td>
								<td class="skyblue">1,20</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера сетей фиксированной связи Украины, грн/мин</td>
								<td class="skyblue">1,20</td>
							</tr>
							<tr>
								<td class="skyblue">SMS-сообщение в пределах Украины, грн</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">60,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>				

							<!-- «Бизнес 60 LOVA» -->

							<tr>
								<td rowspan="10" class="skyblue text-white t-center properties">6</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="cyan t-center">«Бизнес 60 LOVA»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="cyan">Звонки между участниками "СМС LOVA (Киевстар)" и на номера «Киевстар» и «Голден Телеком», грн/мин</td>
								<td class="cyan">без ограничений</td>
							</tr>
							<tr>
								<td class="cyan">Традиционный доступ к Интернету, МБ</td>
								<td class="cyan">1100</td>
							</tr>
							</tr>
							<tr>
								<td class="cyan">Бесплатные минуты для звонков на номера других операторов мобильной и фиксированной связи Украины, мин.</td>
								<td class="cyan">20</td>
							</tr>
							<tr>
								<td class="cyan">Плата за соединение, грн</td>
								<td class="cyan">отсутствует</td>
							</tr>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="cyan t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="cyan">Звонки на номера других сетей мобильной связи Украины, грн/мин</td>
								<td class="cyan">0,50</td>
							</tr>
							<tr>
								<td class="cyan">Звонки на номера сетей фиксированной связи Украины, грн/мин</td>
								<td class="cyan">1,20</td>
							</tr>
							<tr>
								<td class="cyan">SMS-сообщение в пределах Украины, грн</td>
								<td class="cyan">0,50</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="cyan">Абонентская плата, грн</td>
								<td class="cyan">60,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>				

							<!-- «Бизнес 100 Новый» -->

							<tr>
								<td rowspan="12" class="skyblue text-white t-center properties">7</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="skyblue t-center">«Бизнес 100 Новый»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="skyblue">Количество минут для звонков на номера сетей «Киевстар», «Beeline», «Голден Телеком»</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Традиционный доступ к Интернету, МБ</td>
								<td class="skyblue">400</td>
							</tr>
							</tr>
							<tr>
								<td class="skyblue">Количество минут для звонков на номера других операторов мобильной и фиксированной связи Украины, мин.</td>
								<td class="skyblue">250</td>
							</tr>
							<tr>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">отсутствует</td>
							</tr>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Бесплатные услуги и сервисы:</td>
								<td colspan="2" class="skyblue t-center">«Мобильные Яндекс.Карты»</td>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">Программа «Золотой абонент»</td>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">Высший приоритет обслуживания во время звонка в справочную службу оператора</td>
							</tr>
							<tr>
								<td rowspan="3" class="darkblue t-center properties text-white">Стоимость услуг связи сверх нетарифицируемого объема:</td>
								<td class="skyblue">Звонки на номера других сетей мобильной связи Украины, грн/мин</td>
								<td class="skyblue">1,20</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки на номера сетей фиксированной связи Украины, грн/мин</td>
								<td class="skyblue">1,20</td>
							</tr>
							<tr>
								<td class="skyblue">SMS-сообщение в пределах Украины, грн</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">100,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>

							<!-- «Неограниченный Gold» -->							

							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">«Неограниченный Gold»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">№</td>
								<td rowspan="4" class="darkblue t-center properties text-white">Приемущества:</td>
								<td colspan="2" class="cyan t-center">Посекундная тарификация  ! Возможность пользоваться услугами связи «в кредит»</td>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">Выгодный тариф для звонков на все сети: 1500 минут за 250 грн</td>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">Возможность самостоятельно «создавать» свой тарифный план за счет подключения пакетов услуг</td>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">Бесплатные услуги и сервисы</td>
							</tr>

							<tr>
								<td rowspan="16" class="skyblue text-white t-center properties">8</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="cyan t-center">«Неограниченный Gold»</td>
							</tr>
							<tr>
								<td rowspan="2" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="cyan">Количество минут для звонков на номера всех операторов мобильной и фиксированной связи Украины</td>
								<td class="cyan">1500</td>
							</tr>
							<tr>
								<td class="cyan">Количество минут для звонков на номера Киевстар и Голден Телеком</td>
								<td class="cyan">Без ограничений</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">VIP-сервисы бесплатно:</td>
								<td colspan="2" class="cyan t-center">Программа «Золотой абонент»</td>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">«Условный платеж»</td>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">VIP обслуживание по телефону - круглосуточно</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="cyan t-center">Скидка на телефон при подключении</td>
							</tr>
							<tr>
								<td rowspan="2" class="darkblue t-center properties text-white">Платежи:</td>
								<td class="cyan">Плата за соединение, грн</td>
								<td class="cyan">0,10</td>
							</tr>
							<tr>
								<td class="cyan">Абонентская плата, грн</td>
								<td class="cyan">250,00</td>
							</tr>		
							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">Пакеты услуг к тарифу "Неограниченный Gold" на ваш выбор</td>
							</tr>			
							<tr>
								<td class="darkblue t-center properties text-white">Название пакета</td>
								<td class="darkblue t-center properties text-white">Ежемесячный нетарифицированный объем услуг / Объем</td>
								<td class="darkblue t-center properties text-white">Абонентская плата, грн</td>
							</tr>
							<tr>
								<td class="cyan">«Минуты Мир Gold»</td>
								<td class="cyan">минуты для звонков за границу с использованием услуги «СтарСвит», мин. / 100</td>
								<td class="cyan">99,00</td>
							</tr>
							<tr>
								<td class="cyan">«Без платы за соединение Gold»</td>
								<td class="cyan">плата за соединение звонка, грн / без ограничений</td>
								<td class="cyan">49,00</td>
							</tr>
							<tr>
								<td class="cyan">«Интернет Gold»</td>
								<td class="cyan">объем мегабайт для доступа в сеть Internet GPRS, МБ / без ограничений</td>
								<td class="cyan">79,00</td>
							</tr>
							<tr>
								<td class="cyan">«SMS и MMS Gold»</td>
								<td class="cyan">объем нетарифицированных SMS и MMS / 500</td>
								<td class="cyan">49,00</td>
							</tr>
							<tr>
								<td class="cyan">«Городской номер Gold»</td>
								<td class="cyan">объем минут для пользования услугой «Прямой городской номер» / без ограничений</td>
								<td class="cyan">79,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>	

							<!-- «Неограниченный Platinum» -->							

							<tr>
								<td colspan="4" class="t-center darkblue title text-yellow">«Неограниченный Platinum»</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">№</td>
								<td rowspan="4" class="darkblue t-center properties text-white">Приемущества:</td>
								<td colspan="2" class="skyblue t-center">4000 минут для звонков на все сети ! Возможность самостоятельной «создавать» свой ​​тарифный план</td>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">100 минут для совершения звонков заграницу по услуге «СтарСвит»</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">Посекундная тарификация  ! Неограниченный доступ к сети интернет</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">Неограниченные звонки на мобильные номера «Киевстар» и «Голден Телеком»</td>
							</tr>

							<tr>
								<td rowspan="12" class="skyblue text-white t-center properties">9</td>
								<td class="darkblue t-center properties text-white">Название тарифа:</td>
								<td colspan="2" class="skyblue t-center">«Неограниченный Platinum»</td>
							</tr>
							<tr>
								<td rowspan="5" class="darkblue t-center properties text-white">Нетарифицированный объем услуг в месяц:</td>
								<td class="skyblue">Количество минут для звонков на номера всех операторов мобильной и фиксированной связи Украины</td>
								<td class="skyblue">4000</td>
							</tr>
							<tr>
								<td class="skyblue">Количество минут для звонков на номера Киевстар и Голден Телеком</td>
								<td class="skyblue">Без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Объем мегабайт для доступа к сети Интернет GPRS, МБ</td>
								<td class="skyblue">Без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Объем нетарифицируемых SMS и MMS</td>
								<td class="skyblue">1000</td>
							</tr>
							<tr>
								<td class="skyblue">Минуты для звонков за границу с использованием услуги «СтарСвит», мин.</td>
								<td class="skyblue">100</td>
							</tr>
							<tr>
								<td rowspan="4" class="darkblue t-center properties text-white">VIP-сервисы бесплатно:</td>
								<td colspan="2" class="skyblue t-center">Программа «Золотой абонент»</td>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">«Условный платеж»</td>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">VIP обслуживание по телефону - круглосуточно</td>
							</tr>
							</tr>
							<tr>
								<td colspan="2" class="skyblue t-center">Скидка на телефон при подключении</td>
							</tr>
							<tr>
								<td rowspan="2" class="darkblue t-center properties text-white">Платежи:</td>
								<td class="skyblue">Плата за соединение, грн</td>
								<td class="skyblue">Отсутствует</td>
							</tr>
							<tr>
								<td class="skyblue">Абонентская плата, грн</td>
								<td class="skyblue">600,00</td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="description">
					<div class="note">
						<p>*После использования пакетных минут</p>
						<p>Все тарифы указаны в гривнах с учетом НДС. Дополнительно взимается сбор в Пенсионный фонд в размере 7,5% стоимости услуги без учета НДС.</p>
					</div>
					<p>Для проверки остатка нетарифицированного объема услуг в текущем месяце наберите на телефоне *112# </p>

					<h4>Услуги при подключении</h4>
					<ol>
						<li><a target="_blank" href="http://www.kyivstar.ua/ru/kr/business/mobile/subscription/comfortjump/" title="Комфортный переход">«Комфортный переход»</a><p>Абоненты других украинских операторов во время перехода на обслуживание в сети «Киевстар» могут воспользоваться бесплатной услугой «Комфортный переход», чтобы не пропустить звонков на свой предыдущий номер.</p></li>
						<li>Контрактные абоненты сети «Киевстар» могут изменить свой тарифный план на тарифный план для бизнес-абонентов в Центре обслуживания абонентов.</li>
					</ol>

					<h4>Подключение</h4>
					<ol>
						<li>Для подключения к "Социальная Мобильная Сеть LOVA" (Киевстар) необходимо пройти быструю регистрацию на почте "Мирные послания" <a target="_blank" href="http://pemes.net" title="Мирные послания">http://pemes.net</a></li>
						<li>С зарегистрированной почты отправить запрос с регистрационными данными:
							<ul>
								<li>Ф.И.О.,</li>
								<li>Логин (зарегистрированный в проекте LOVA).,</li>
								<li>E-mail  (зарегистрированный в проекте LOVA).,</li>
								<li>Контактный номер телефона, Skype.,</li>
								<li>Город и область проживания.,</li>
								<li>Тарифный план подключения (выбраный Вами).</li>
							</ul>
						</li>
					</ol>
					<p>Заявки на подключение к "СМС LOVA" присылайте на адрес, c темой письма Подключение "СМС LOVA (Киевстар)": <a href="mailto:sms-lova@pemes.net" title="СМС LOVA Email">sms-lova@pemes.net</a></p>
				</div>
			</div>
			<div id="sms-tabs-2" class="operator life">
				<div class="about">
					<div class="logo a-left"><img src="" alt=""/></div>
					<div class="slogon a-left"></div>
					<div class="clear"></div>
				</div>
				<div class="table-layout">
					<table class="tariffs">
						<tbody>

							<!-- «business life:) 15» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «business life:) 15»</td>
							</tr>
							<tr>
								<td rowspan="14" class="properties pink text-white t-center">1</td>
								<td rowspan="3" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">0,00 грн/мин — в сети life:)</td>
							</tr>
							<tr>
								<td class="t-center">1,99 грн/мин — в Россию</td>
							</tr>
							<tr>
								<td class="t-center">Плата за соединение отсутствует</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Первоначальный платеж, грн.</td>
								<td class="skyblue t-center">30,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">15,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты для звонков в сети life:) и в середине "СМС LOVA (Life)"</td>
								<td class="skyblue t-center text-red">3000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, минута разговора, грн.</td>
								<td class="skyblue t-center text-red">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других стран, кроме номеров операторов спутниковой связи, за минуту разговора, грн.</td>
								<td class="skyblue t-center">2,49</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS по Украине, за сообщение, грн.</td>
								<td class="skyblue t-center">0,39</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS по Украине, за сообщение, грн</td>
								<td class="skyblue t-center">0,78</td>
							</tr>
							<tr>
								<td class="properties pink text-white">GPRS, за 1 Кб/WAP, за 1 Кб, грн.</td>
								<td class="skyblue t-center">0,004/0,012</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,59</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,59</td>
							</tr>
							<tr>
								<td colspan="3" class="silver">&nbsp;</td>
							</tr>

							<!-- Тариф  «business life:) 35» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «business life:) 35»</td>
							</tr>
							<tr>
								<td rowspan="16" class="properties pink text-white t-center">2</td>
								<td rowspan="4" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">0,00 грн/мин — в сети life:)</td>
							</tr>
							<tr>
								<td class="t-center">1,99 грн/мин — в Россию</td>
							</tr>
							<tr>
								<td class="t-center">100 пакетных минут на все направления по Украине</td>
							</tr>
							<tr>
								<td class="t-center">Плата за соединение отсутствует</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Первоначальный платеж, грн.</td>
								<td class="skyblue t-center">35,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">35,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты для звонков в сети life:) и в середине "СМС LOVA (Life)"</td>
								<td class="skyblue t-center text-red">НЕОГРАНИЧЕННО</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера других мобильных операторов и сетей фиксированной связи Украины</td>
								<td class="skyblue t-center text-red">100</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, минута разговора, грн.</td>
								<td class="skyblue t-center text-red">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других стран, кроме номеров операторов спутниковой связи, за минуту разговора, грн.</td>
								<td class="skyblue t-center">2,49</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS по Украине, за сообщение, грн.</td>
								<td class="skyblue t-center">0,39</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS по Украине, за сообщение, грн</td>
								<td class="skyblue t-center">0,78</td>
							</tr>
							<tr>
								<td class="properties pink text-white">GPRS, за 1 Кб/WAP, за 1 Кб, грн.</td>
								<td class="skyblue t-center">0,004/0,012</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td colspan="3" class="silver">&nbsp;</td>
							</tr>

							<!-- Тариф  «business life:) 79» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «business life:) 79»</td>
							</tr>
							<tr>
								<td rowspan="16" class="properties pink text-white t-center">3</td>
								<td rowspan="4" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">Минибезлимит за 79 грн</td>
							</tr>
							<tr>
								<td class="t-center">Звонки абонентам life:), интернет и переадресация с прямого номера – без ограничений</td>
							</tr>
							<tr>
								<td class="t-center">300 минут — на все направления в пределах Украины</td>
							</tr>
							<tr>
								<td class="t-center">1000 СМС — по Украине</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">79,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты в сети life:)</td>
								<td class="skyblue t-center">безлимит</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Интернет (GPRS Internet)</td>
								<td class="skyblue t-center">безлимит</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Переадрессация с прямого номера</td>
								<td class="skyblue t-center">безлимит</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты в сети для звонков на номера мобильной и фиксированной связи в Украине, кроме life:)</td>
								<td class="skyblue t-center">300</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные SMS по Украине</td>
								<td class="skyblue t-center">1000</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, грн/мин</td>
								<td class="skyblue t-center">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,39</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,78</td>
							</tr>
							<tr>
								<td colspan="3" class="silver">&nbsp;</td>
							</tr>


							<!-- Тариф  «Безграничный business life:) 260» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «Безграничный business life:) 260»</td>
							</tr>
							<tr>
								<td rowspan="17" class="properties pink text-white t-center">4</td>
								<td rowspan="3" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">без ограничений — в сети life:)</td>
							</tr>
							<tr>
								<td class="t-center">1000 минут — на все направления в пределах Украины</td>
							</tr>
							<tr>
								<td class="t-center">без ограничений — GPRS интернет 120 кбит/с</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">260,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты в сети life:)</td>
								<td class="skyblue t-center">безлимит</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера других мобильных операторов и сетей фиксированной связи Украины</td>
								<td class="skyblue t-center">1000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Грецию, Грузию, Израиль, Испанию, Италию, Канаду, Китай, Германию, Польшу, Португалию, Румынию, Словакию, США, Венгрию, Францию, Чехию, грн/мин</td>
								<td class="skyblue t-center">0,75</td>
							</tr>
							<tr>
								<td class="properties pink text-white">В другие страны, грн/мин</td>
								<td class="skyblue t-center">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные SMS по Украине</td>
								<td class="skyblue t-center">500</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, за минуту. Фиксированная связь, грн/мин</td>
								<td class="skyblue t-center">0,15</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, за минуту. Mобильные операторы, грн/мин</td>
								<td class="skyblue t-center">0,75</td>
							</tr>
							<tr>
								<td class="properties pink text-white">GPRS интернет 120 кбит/с</td>
								<td class="skyblue t-center">безлимит</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,49</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,49</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,59</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS, за сообщение, грн.</td>
								<td class="skyblue t-center">1,19</td>
							</tr>
							<tr>
								<td colspan="3" class="silver">&nbsp;</td>
							</tr>

							<!-- Тариф  «Безграничный business life:) 300» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «Безграничный business life:) 300»</td>
							</tr>
							<tr>
								<td rowspan="17" class="properties pink text-white t-center">5</td>
								<td rowspan="3" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">5000 мин — в сети life:)</td>
							</tr>
							<tr>
								<td class="t-center">1000 минут — на все направления в пределах Украины</td>
							</tr>
							<tr>
								<td class="t-center">100 минут — для звонков за рубеж</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">300,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты в сети life:)</td>
								<td class="skyblue t-center">5000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера других мобильных операторов и сетей фиксированной связи Украины</td>
								<td class="skyblue t-center">1000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера за пределы Украины, кроме номеров операторов спутниковой связи</td>
								<td class="skyblue t-center">100</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные SMS по Украине</td>
								<td class="skyblue t-center">100</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные МMS по Украине</td>
								<td class="skyblue t-center">100</td>
							</tr>
							<tr>
								<td class="properties pink text-white">GPRS Internet (пакетных мегабайт)</td>
								<td class="skyblue t-center">100</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в сети life:), грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, грн/мин</td>
								<td class="skyblue t-center">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,39</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,78</td>
							</tr>
							<tr>
								<td colspan="3" class="silver">&nbsp;</td>
							</tr>

							<!-- Тариф  «Безграничный business life:) 500» -->
							<tr>
								<td colspan="3" class="pink text-white title t-center">Тариф  «Безграничный business life:) 500»</td>
							</tr>
							<tr>
								<td rowspan="17" class="properties pink text-white t-center">6</td>
								<td rowspan="3" class="properties pink text-white t-center">Приемущества:</td>
								<td class="t-center">5000 мин — в сети life:)</td>
							</tr>
							<tr>
								<td class="t-center">2000 минут — на все направления в пределах Украины</td>
							</tr>
							<tr>
								<td class="t-center">200 минут — для звонков за рубеж</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Абонентская плата, грн.</td>
								<td class="skyblue t-center">500,00</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты в сети life:)</td>
								<td class="skyblue t-center">5000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера других мобильных операторов и сетей фиксированной связи Украины</td>
								<td class="skyblue t-center">2000</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные минуты на номера за пределы Украины, кроме номеров операторов спутниковой связи</td>
								<td class="skyblue t-center">200</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные SMS по Украине</td>
								<td class="skyblue t-center">200</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Пакетные МMS по Украине</td>
								<td class="skyblue t-center">200</td>
							</tr>
							<tr>
								<td class="properties pink text-white">GPRS Internet (пакетных мегабайт)</td>
								<td class="skyblue t-center">200</td>
							</tr>
							<tr>
								<td colspan="2" class="properties pink text-white t-center">Свыше пакета услуг:</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в сети life:), грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера фиксированной связи Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки на номера других мобильных операторов Украины, грн/мин</td>
								<td class="skyblue t-center">0,50</td>
							</tr>
							<tr>
								<td class="properties pink text-white">Звонки в Россию, грн/мин</td>
								<td class="skyblue t-center">1,99</td>
							</tr>
							<tr>
								<td class="properties pink text-white">SMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,39</td>
							</tr>
							<tr>
								<td class="properties pink text-white">MMS, за сообщение, грн.</td>
								<td class="skyblue t-center">0,78</td>
							</tr>



						</tbody>
					</table>
				</div>
				<div class="description">
					<div class="note">
						<p>Тарифы указаны в гривнах с учетом НДС. Дополнительно удерживается пенсионный сбор в размере 7,5% на стоимость услуг сотовой подвижной связи.<br/>
						Абонентская плата указана с учетом НДС и сбора в Пенсионный фонд в размере 7,5% от стоимости услуг без учета НДС.</p>
					</div>

					<h4>Подключение</h4>
					<ol>
						<li>Для подключения к "Социальная Мобильная Сеть LOVA" (Life) необходимо пройти быструю регистрацию на почте <a target="_blank" href="http://pemes.net" title="Мирные послания">http://pemes.net</a></li>
						<li>С зарегистрированной почты отправить запрос с регистрационными данными:
							<ul>
								<li>Ф.И.О.,</li>
								<li>Логин (зарегистрированный в проекте LOVA).,</li>
								<li>E-mail  (зарегистрированный в проекте LOVA).,</li>
								<li>Контактный номер телефона, Skype.,</li>
								<li>Город и область проживания.,</li>
								<li>Тарифный план подключения (выбраный Вами).</li>
							</ul>
						</li>
					</ol>
					<p>Заявки на подключение к "СМС LOVA" присылайте на адрес, тема письма "Подключение Life": <a href="mailto:sms-lova@pemes.net" title="СМС LOVA Email">sms-lova@pemes.net</a></p>
				</div>
			</div>
			<div id="sms-tabs-3" class="operator mts">	
				<div class="about">
					<div class="logo a-left"><img src="" alt=""/></div>
					<div class="slogon a-left"></div>
					<div class="clear"></div>
				</div>		
				<div class="table-layout">
					<table class="tariffs">
						<tbody>

							<!-- Национальный тариф  «МТС Офис 30+» -->
							<tr>
								<td colspan="4" class="t-center title red text-white">Национальный тариф  «МТС Офис 30+»</td>
							</tr>
							<tr>
								<td rowspan="14" class="t-center properties red text-white">1</td>
								<td rowspan="4" class="t-center properties red text-white">Преимущества бизнес-тарифа «МТС Офис 30+»:</td>
								<td colspan="2" class="t-center">Безлимитные звонки внутри группы "СМС LOVA (МТС)"</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки внутри сети МТС, в рамках пакета</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки в других направлениях, в рамках пакета</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные мегабайты GPRS-Интернета, в рамках пакета</td>
							</tr>
							<tr>
								<td rowspan="10" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">30,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри группы "СМС LOVA (МТС)", мин/мес.</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных минут для звонков абонентам МТС по Украине, мин/месяц</td>
								<td class="skyblue">500</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных минут для звонков абонентам других операторов по Украине, мин/месяц</td>
								<td class="skyblue">30</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных МБ мобильного Интернета, включая GPRS Corp Data, MБ/месяц.</td>
								<td class="skyblue">50</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки сверх пакетных минут в сети МТС, грн./мин.</td>
								<td class="skyblue">0,20</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам других мобильных операторов по Украине, грн./мин.</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="skyblue">Стоимость стандартного SMS абонентам по Украине, грн./шт.</td>
								<td class="skyblue">0,60</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам городских операторов Украины, грн./мин.</td>
								<td class="skyblue">1,00</td>
							</tr>
							<tr>
								<td class="skyblue">Аванс при подключении в тарифа «МТС Офис 30+», грн.</td>
								<td class="skyblue">49,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>


							<!-- Национальный тариф  «МТС Офис 50+» -->
							<tr>
								<td colspan="4" class="t-center title red text-white">Национальный тариф  «МТС Офис 50+»</td>
							</tr>
							<tr>
								<td rowspan="12" class="t-center properties red text-white">2</td>
								<td rowspan="4" class="t-center properties red text-white">Преимущества бизнес-тарифа «МТС Офис 50+»:</td>
								<td colspan="2" class="t-center">Безлимитные звонки внутри группы "СМС LOVA (МТС)"</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки внутри сети МТС</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки в других направлениях, в рамках пакета</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные мегабайты GPRS-Интернета, в рамках пакета</td>
							</tr>
							<tr>
								<td rowspan="8" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">50,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри сети МТС, грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных минут для звонков абонентам других операторов по Украине, мин/месяц</td>
								<td class="skyblue">50</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных МБ мобильного Интернета, включая GPRS Corp Data, MБ/месяц.</td>
								<td class="skyblue">100</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам других мобильных операторов по Украине, грн./мин.</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="skyblue">Стоимость стандартного SMS абонентам по Украине, грн./шт.</td>
								<td class="skyblue">0,60</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам городских операторов Украины, грн./мин.</td>
								<td class="skyblue">1,00</td>
							</tr>
							<tr>
								<td class="skyblue">Аванс при подключении в тарифа «МТС Офис 50+», грн.</td>
								<td class="skyblue">99,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>

							<!-- Национальный тариф  «МТС Офис 90+» -->
							<tr>
								<td colspan="4" class="t-center title red text-white">Национальный тариф  «МТС Офис 90+»</td>
							</tr>
							<tr>
								<td rowspan="12" class="t-center properties red text-white">3</td>
								<td rowspan="4" class="t-center properties red text-white">Преимущества бизнес-тарифа «МТС Офис 90+»:</td>
								<td colspan="2" class="t-center">Безлимитные звонки внутри группы "СМС LOVA (МТС)"</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки внутри сети МТС</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки в других направлениях, в рамках пакета</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные мегабайты GPRS-Интернета, в рамках пакета</td>
							</tr>
							<tr>
								<td rowspan="8" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">90,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри сети МТС, грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных минут для звонков абонентам других операторов по Украине, мин/месяц</td>
								<td class="skyblue">150</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных МБ мобильного Интернета, включая GPRS Corp Data, MБ/месяц.</td>
								<td class="skyblue">200</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам других мобильных операторов по Украине, грн./мин.</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="skyblue">Стоимость стандартного SMS абонентам по Украине, грн./шт.</td>
								<td class="skyblue">0,60</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам городских операторов Украины, грн./мин.</td>
								<td class="skyblue">1,00</td>
							</tr>
							<tr>
								<td class="skyblue">Аванс при подключении в тарифа «МТС Офис 90+», грн.</td>
								<td class="skyblue">149,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>


							<!-- Национальный тариф  «МТС Офис 150+» -->
							<tr>
								<td colspan="4" class="t-center title red text-white">Национальный тариф  «МТС Офис 150+»</td>
							</tr>
							<tr>
								<td rowspan="12" class="t-center properties red text-white">4</td>
								<td rowspan="4" class="t-center properties red text-white">Преимущества бизнес-тарифа «МТС Офис 150+»:</td>
								<td colspan="2" class="t-center">Безлимитные звонки внутри группы "СМС LOVA (МТС)"</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки внутри сети МТС</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные звонки в других направлениях, в рамках пакета</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатные мегабайты GPRS-Интернета, в рамках пакета</td>
							</tr>
							<tr>
								<td rowspan="8" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">150,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри сети МТС, грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных минут для звонков абонентам других операторов по Украине, мин/месяц</td>
								<td class="skyblue">500</td>
							</tr>
							<tr>
								<td class="skyblue">Количество пакетных МБ мобильного Интернета, включая GPRS Corp Data, MБ/месяц.</td>
								<td class="skyblue">500</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам других мобильных операторов по Украине, грн./мин.</td>
								<td class="skyblue">0,50</td>
							</tr>
							<tr>
								<td class="skyblue">Стоимость стандартного SMS абонентам по Украине, грн./шт.</td>
								<td class="skyblue">0,60</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки абонентам городских операторов Украины, грн./мин.</td>
								<td class="skyblue">1,00</td>
							</tr>
							<tr>
								<td class="skyblue">Аванс при подключении в тарифа «МТС Офис 90+», грн.</td>
								<td class="skyblue">199,00</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>


							<!-- Национальный тариф  «ULTRA» -->
							<tr>
								<td colspan="4" class="t-center title red text-white">Национальный тариф  «ULTRA»</td>
							</tr>
							<tr>
								<td rowspan="11" class="t-center properties red text-white">5</td>
								<td rowspan="4" class="t-center properties red text-white">Преимущества бизнес-тарифа «ULTRA»:</td>
								<td colspan="2" class="t-center">Безлимитное общение в сети</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Безлимитный интернет</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатный золотой номер</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Эксклюзивное обслуживание</td>
							</tr>
							<tr>
								<td rowspan="7" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">299,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри сети МТС, грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Мобильный GPRS-Интернет</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Минуты для звонков абонентам по Украине, мин/мес.</td>
								<td class="skyblue">1000</td>
							</tr>
							<tr>
								<td class="skyblue">SMS абонентам МТС, шт./мес.</td>
								<td class="skyblue">1000</td>
							</tr>
							<tr>
								<td class="skyblue">MMS абонентам по Украине, шт./мес.</td>
								<td class="skyblue">100</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки в Россию без платы за соединение, грн/мин  (городские номера/мобильные номера)</td>
								<td class="text-red skyblue">0,15/0,75</td>
							</tr>
							<tr>
								<td colspan="4" class="silver">&nbsp;</td>
							</tr>


							<!-- Национальный тариф  «ULTRA VIP» -->
							<tr>
								<td colspan="6" class="t-center title red text-white">Национальный тариф  «ULTRA VIP»</td>
							</tr>
							<tr>
								<td rowspan="16" class="t-center properties red text-white">6</td>
								<td rowspan="6" class="t-center properties red text-white">Преимущества бизнес-тарифа «ULTRA VIP»:</td>
								<td colspan="2" class="t-center">Безлимитные звонки на телефоны всех операторов</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Безлимитные СМС и ММС</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Безлимитный интернет</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">100 минут на звонки заграницу и входящие в роуминге</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Бесплатный золотой номер</td>
							</tr>
							<tr>
								<td colspan="2" class="t-center">Персональный консультант</td>
							</tr>
							<tr>
								<td rowspan="10" class="t-center properties red text-white">Перечень и стоимость услуг в тарифном плане:</td>
								<td class="skyblue">Ежемесячная плата, грн.</td>
								<td class="skyblue">799,00</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки внутри сети МТС, грн/мин</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Мобильный GPRS-Интернет</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Минуты для звонков абонентам по Украине, мин/мес.</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">SMS абонентам МТС, шт./мес.</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">MMS абонентам по Украине, шт./мес.</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Переадресация звонков с прямого номера на мобильный, грн</td>
								<td class="skyblue">без ограничений</td>
							</tr>
							<tr>
								<td class="skyblue">Минуты для входящих звонков в роуминге в любой стране, где есть роуминг-партнеры МТС, мин/мес.</td>
								<td class="skyblue">100</td>
							</tr>
							<tr>
								<td class="skyblue">Минуты для звонков за границу в любые страны, мин/мес.</td>
								<td class="skyblue">100</td>
							</tr>
							<tr>
								<td class="skyblue">Звонки в Россию без платы за соединение, грн/мин  (городские номера/мобильные номера)</td>
								<td class="text-red skyblue">0,15/0,75</td>
							</tr>

						</tbody>
					</table>
				</div>
				<div class="description">
					<div class="note">
						<p>Тарифы в гривнах с учетом НДС по состоянию на 01.03.2011. Дополнительно взимается сбор в Пенсионный фонд в размере 7,5% от стоимости без учета НДС.</p>
					</div>

					<p>Пакетные минуты используются в первую очередь. Не использованный в течение месяца пакет минут не переносится на следующий месяц и не возвращается.</p>
					<p>Для проверки остатка нетарифицированного объема услуг в текущем месяце наберите на телефоне *101# </p>

					<h4>Услуги при подключении</h4>
					<ol>
						<li><a target="_blank" href="http://corp.mts.com.ua/rus/my_new_number.php" title="Мой новый номер">«Мой новый номер»</a>
							<p>С услугой «Мой новый номер» Вы можете изменить свой номер телефона, а Ваши друзья и близкие узнают об этом, позвонив на Ваш прежний номер.</p>
							<p>Вызывающие абоненты получат информацию о Вашем новом номере в виде SMS и голосового сообщения.</p>
							<p>Срок действия услуги – 180 дней с момента активации.</p>
							<p>Активация и управление услугой – бесплатно.</p>
						</li>
					</ol>

					<h4>Подключение</h4>
					<ol>
						<li>Для подключения к "Социальная Мобильная Сеть LOVA" (МТС) необходимо пройти быструю регистрацию на почте "Мирные послания" <a target="_blank" href="http://pemes.net" title="Мирные послания">http://pemes.net</a></li>
						<li>С зарегистрированной почты отправить запрос с регистрационными данными:
							<ul>
								<li>Ф.И.О.,</li>
								<li>Логин (зарегистрированный в проекте LOVA).,</li>
								<li>E-mail  (зарегистрированный в проекте LOVA).,</li>
								<li>Контактный номер телефона, Skype.,</li>
								<li>Город и область проживания.,</li>
								<li>Тарифный план подключения (выбраный Вами).</li>
							</ul>
						</li>
					</ol>
					<p>Заявки на подключение к "СМС LOVA" присылайте на адрес, c темой письма "Подключение МТС": <a href="mailto:sms-lova@pemes.net" title="СМС LOVA Email">sms-lova@pemes.net</a></p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>